# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# FastAPI / Uvicorn artifacts
*.log

# Node
node_modules/
dist/
.DS_Store

# Vite dev cache
*.local

# IDE junk
.vscode/
.idea/
